.pleading-item{
    border: 1px solid #e4e3e2;
    border-radius: 10px;
    padding-bottom: 50px;
    height: 450px;
}
.pleading-item img{
    border-radius: 10px;
}
.pleading-item h5{
    font-size: 20px;
    font-weight: bold;
}
.pleading-item p{
    font-size: 16px;
    color: #777676;
    letter-spacing: 1.6;
}
.pleadings .btn{
    color: #eee;
    background-color: #3D2C00;
}