.pleading-item{
    border: 1px solid #e4e3e2;
    border-radius: 10px;
    padding-bottom: 60px;
    height: 100%;
    position: relative;
}
.pleading-item img{
    border-radius: 10px;
    width: 100%;
}
.pleading-item h5{
    font-size: 20px;
    font-weight: bold;
}

.pleading-item p{
    font-size: 16px;
    color: #777676;
    letter-spacing: 1.6;
}
.pleadings .btn{
    color: #eee;
    background-color: #3D2C00;
}
.pleading-item .btn{
    background-color: transparent;
    color: black;
    border-color: #e4e3e2;
    position: absolute;
    padding: 8px 15px;
    bottom: 15px;
        left: 15px;
}
