.navbar {
    background-color: #3D2C00 !important;
}

.navbar img {
    width: 100px;
}

.navbar-expand-lg .navbar-collapse {
    flex-basis: auto;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: space-between;
}
.navbar .navbar-toggler{
    border: none !important;
}
.navbar .nav-link {
    color: #eee !important;
    font-size: 20px;
    font-weight: 700;
}

.navbar .btn {
    background-color: #eee;
    color: #000;
    padding: 8px 22px;
}

.navbar .dropdown-toggle::after {
    margin-right: 20px !important;
}

.nav-item.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
}

.dropdown-menu {
    position: static;
    display: none;
    direction: rtl;
    transition: all 0.3s ease;
}

.dropdown-menu .dropdown-item {
    text-align: right;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
    padding: 0 20px;
}

.dropdown-menu .dropdown-item:hover {
    background-color: #f5f5f5;
}
@media (max-width: 768px) {
    .navbar-toggler {
        order: 2;
    }

    .navbar .dropdown {
        order: 1;
        margin-left: auto;
        margin-right: 10px;
    }
        .mobile-menu {
            position: fixed;
            top: 110px;
            left: -100%;
            width: 100%;
            height: calc(100% - 110px);
            background-color: #3D2C00;
            padding: 20px;
            transition: left 0.3s ease;
            z-index: 9999;
            display: block !important;
        }
    
        .mobile-menu.show {
            left: 0;
        }
    
        .mobile-menu .navbar-nav {
            display: flex;
            flex-direction: column;
            margin-top: 80px;
            gap: 20px;
        }
}