.navbar {
    background-color: #3D2C00 !important;
    transition: top 0.3s;
    width: 100%;
}
.navbar.sticky {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}
.navbar img {
    width: 100px;
}

.navbar-expand-lg .navbar-collapse {
    flex-basis: auto;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: space-between;
}

.navbar .navbar-toggler {
    border: none !important;
}

.navbar .nav-link {
    color: #eee !important;
    font-size: 18px;
    font-weight: 700;
}

.navbar .btn {
    background-color: #eee;
    color: #000;
    padding: 8px 22px;
}
.navbar .btn-secondary{
}
.navbar .ar,
.navbar .en{
    background-color: transparent;
    border: none;
    font-size: 18px;
}
.lang-ar .dropdown-menu .dropdown-item,
.dropdown-menu{
    text-align: right;
}
.lang-en .dropdown-menu .dropdown-item,
.dropdown-menu {
    text-align: left;
}
.dropdown-menu .dropdown-item {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
    padding: 0 20px;
}
.lang-en .dropdown {
    left: 0 !important;
    right: auto !important;
    margin-left: 0 !important;
}

.lang-ar .dropdown {
    right: 0 !important;
    left: auto !important;
}
/* .navbar .dropdown-toggle::after {
    margin-right: 20px !important;
}

.nav-item.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
}

.dropdown-menu {
    position: static;
    display: none;
    direction: rtl;
    transition: all 0.3s ease;
}

.dropdown-menu .dropdown-item {
    text-align: right;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
    padding: 0 20px;
}

.dropdown-menu .dropdown-item:hover {
    background-color: #f5f5f5;
} */

@media (max-width: 768px) {
    .navbar-toggler {
        order: 2;
    }

    .navbar .dropdown {
        order: 1;
        margin-left: auto;
        margin-right: 10px;
    }

    .mobile-menu {
        position: fixed;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        background-color: #3D2C00;
        padding: 20px;
        transition: left 0.3s ease;
        z-index: 9999;
        display: block !important;
    }

    .mobile-menu.show {
        left: 0;
    }

    .mobile-menu .navbar-nav {
        display: flex;
        flex-direction: column;
        margin-top: 80px;
        gap: 20px;
    }
        .close-mobile-menu {
            position: absolute;
            top: 20px;
            background: transparent;
            border: none;
            font-size: 30px;
            color: #fff;
            cursor: pointer;
            z-index: 10000;
        }
                .lang-en .close-mobile-menu {
                    right: 20px;
                    left: auto;
                }
        
                .lang-ar .close-mobile-menu {
                    left: 20px;
                    right: auto;
                }
}