.about-us img {
    border-radius: 15px;
    width: 60%;
    pointer-events: none;
}

.about-us h6 {
    font-size: 23px;
    font-weight: 700;
    letter-spacing: .6;
    letter-spacing: -1px;
    margin-bottom: 3px;
}

.about-us .btn {
    color: #eee;
    background-color: #3D2C00;
    font-size: 17px;
    margin-top: 15px;
}

@media (max-width: 768px) {
    .about-us img {
        margin-bottom: 25px;
    }
}