.footer{
    background-color: #3D2C00;
    color: #eee;
}
.footer ul{
    padding-right: 0;
}
.footer ul li{
    list-style: none;
}

.footer p {
    font-size: 14px;
}

.footer h5 {
    font-size: 18px;
    margin-bottom: 15px;
}
.footer h6{
    margin-bottom: 15px !important;
}

.location i {
    font-size: 20px;
    margin: 0 15px;
}

.location h6 {
    font-size: 14px;
}

.location span {
    font-size: 15px;
}

