body {
  direction: rtl;
  font-family: 'Azer' !important;
}
@font-face {
  font-family: 'Azer';
  src: url('../Fonts/alfont_com_29LT-Azer-Regular.otf') format('otf'),
    url('../Fonts/alfont_com_29LT-Azer-Regular.otf') format('otf');
}

