.scroll-top-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #eee;
    color: #3D2C00;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    font-size: 30px;
    border: none;
    cursor: pointer;
    z-index: 999;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    transition: 0.3s ease;
}

.scroll-top-btn:hover {
    background-color: #3D2C00;
    color: #eee;
}